<div id='home' class='clearfix'>
  <div class='intro'>
    <h2>Singma Bathroom Renovations</h2>

    <div class='important-message'>
      Service in Sydney <strong>ONLY</strong>
    </div>

    <p>Fully licensed bathroom renovation team with more than 20 years experience.</p>
    <p>We are committed to top quality workmanship and customer satisfaction.</p>
    <p>Obligation free site inspection, advise and quoting service.</p>
    <p>Competitive fixed price quote for your peace of mind.</p>
    <p>Stress free and no fuss, have your bathroom professionally designed and built by us, a bathroom that you will show off to everyone.</p>
  </div>
  <div class='quote'>
    <h2><%= h2 %></h2>
    <%= render 'form' %>
  </div>
</div>
