<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi, <%= @contact_us.name %>!</p>
    <p>Thank you for contacting us.</p>
    <p>We will respond to your message as soon as possible.</p>
    <p>Your message:</p>
    <p style='font-style: italic; margin-left: 5px;'><%= @contact_us.message %></p>
    <p>Kind regards,</p>
    <p>Hornsby Bathroom</p>
  </body>
</html>