// colors
$whiteish: #FBFBFB;
$light_orange: #ffb47d;
$dark_orange: #e4995f;
$light_blue: #ced8f3;
$dark_blue: #afb9d4;
$light_green: #83be7e;
$dark_green: #5d9651;
$light_grey: #666;
$lighter_grey: #CCC;

// border
$border_top_bottom: 1px dotted $lighter_grey;

// linear gradient
$gradient_top_bottom: top, $dark_green, $light_green;
$gradient_left_right: left, $dark_blue, $light_blue;
$gradient_right_left: right, $dark_blue, $light_blue;

// box shadow
$shadow_bottom_center: 0 3px 5px $dark_orange;
$shadow_bottom_right: 3px 3px 5px $light_blue;
$shadow_top_center: 0 -3px 5px $dark_green;

// form
form {
  padding-left: 10px;
  padding-right: 10px;
  label {
    display: block;
    float: left;
    line-height: 23px;
    margin: 0 5px 0 0;
    width: 105px;
  }
  .field {
    width: 100%;
    label {
      font-weight: bold;
    }
    input, select, textarea {
      border: 1px solid $lighter_grey;
      float: left;
      margin-bottom: 10px;
      padding: 3px 5px;
      width: auto;
    }
  }
  .checkbox {
    height: 12px;
    line-height: 12px;
    margin: 10px 0;
    width: 100%;
    &.two_lines {
      margin: 10px 0 15px;
    }
    input {
      float: left;
      margin-top: 1px;
      width: auto;
    }
    .first_line {
      display: block;
      margin: 1px 0 0 130px;
      width: auto;
      &.second_line {
        line-height: 14px;
      }
    }
  }
}

.submit_button {
  background: $dark_blue;
  border: 1px solid $dark_blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: $whiteish;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  text-align: center;
  width: auto;
}
a.submit_button {
  text-decoration: none;
}