// colors
$whiteish: #FBFBFB;
$light_orange: #f38630;
$lightish_orange: #ea7a2a;
$dark_orange: #fa6900;
$darkish_orange: #f56100;
$light_grey: #6e6d71;
$lighter_grey: #999;
$dark_grey: #333;
$red: #ff0000;

// border
$border_top_bottom: 1px dotted $lighter_grey;

// linear gradient
$gradient_top_bottom: top, $lighter_grey, $light_grey;

// box shadow
$shadow_bottom_center: 0 3px 5px $light_orange;
$shadow_top_only: inset 0 10px 10px -10px $dark_grey;
$shadow_bottom_only: inset 0 -10px 10px -10px $dark_grey;
$shadow_bottom_heading: inset 0 -10px 10px -10px $light_grey;

// media queries
$mobile_max: 568px;
$tablet_min: 768px;
$tablet_max: 1024px;

// h2
h2.box_heading {
  background-color: $light_orange;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $light_orange), color-stop(100%, $dark_orange));
  background-image: -webkit-linear-gradient(top, $light_orange, $dark_orange);
  background-image: -moz-linear-gradient(top, $light_orange, $dark_orange);
  background-image: -ms-linear-gradient(top, $light_orange, $dark_orange);
  background-image: -o-linear-gradient(top, $light_orange, $dark_orange);
  background-image: linear-gradient(top, $light_orange, $dark_orange);
  color: $whiteish;
  padding: 10px;
  text-shadow: 0 -1px 0 $lighter_grey;
}

// form
form {
  padding-left: 10px;
  padding-right: 10px;
  label {
    display: block;
    float: left;
    line-height: 23px;
    margin: 0 5px 0 0;
    width: 105px;
  }
  .field {
    width: 100%;
    label {
      font-weight: bold;
    }
    input, select, textarea {
      border: 1px solid $lighter_grey;
      float: left;
      margin-bottom: 10px;
      padding: 3px 5px;
      width: auto;
    }
   input, textarea {
      width: 240px;
    }
    input#quote_postcode, input#contact_postcode {
      width: auto;
    }
    textarea {
      height: 155px;
    }
    label.error {
      clear: both;
      color: $red;
      margin-left: 110px;
      margin-top: -10px;
      width: auto;
    }
  }
  .checkbox {
    height: 12px;
    line-height: 12px;
    margin: 10px 0;
    width: 100%;
    &.two_lines {
      margin: 10px 0 15px;
    }
    input {
      float: left;
      margin-top: 1px;
      width: auto;
    }
    .first_line {
      display: block;
      margin: 1px 0 0 130px;
      width: auto;
      &.second_line {
        line-height: 14px;
      }
    }
  }
}
.submit_button {
  background-color: $light_orange;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $light_orange), color-stop(100%, $dark_orange));
  background-image: -webkit-linear-gradient(top, $light_orange, $dark_orange);
  background-image: -moz-linear-gradient(top, $light_orange, $dark_orange);
  background-image: -ms-linear-gradient(top, $light_orange, $dark_orange);
  background-image: -o-linear-gradient(top, $light_orange, $dark_orange);
  background-image: linear-gradient(top, $light_orange, $dark_orange);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: $whiteish;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 15px 2px;
  text-align: center;
  text-shadow: 0 -1px 0 $lighter_grey;
  width: auto;
}
a.submit_button {
  text-decoration: none;
}
.submit_button:hover {
  background: $light_orange;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $lightish_orange), color-stop(100%, $darkish_orange));
  background-image: -webkit-linear-gradient(top, $lightish_orange, $darkish_orange);
  background-image: -moz-linear-gradient(top, $lightish_orange, $darkish_orange);
  background-image: -ms-linear-gradient(top, $lightish_orange, $darkish_orange);
  background-image: -o-linear-gradient(top, $lightish_orange, $darkish_orange);
  background-image: linear-gradient(top, $lightish_orange, $darkish_orange);
}

@media only screen and (max-width: $mobile_max) {
  #header {
    margin-bottom: 20px;
    .main_menu {
      width: 100%;
      .content {
        width: auto;
      }
      .home-link {
        float: none;
        margin: 0 auto;
      }
      .left_menu,
      .left_menu li {
        display: inline-block;
      }
      .left_menu li {
        margin-bottom: 3px;
      }
      .right_menu {
        display: none;
      }
    }
    .content {
      h1 {
        font-size: 32px;
        line-height: 34px;
        .singma, .bathroom, .renovations {
          display: block;
        }
        .bathroom {
          margin-left: 0;
          margin-top: 2px;
        }
        .renovations {
          margin-left: 0;
          margin-top: -4px;
        }
      }
      .licence-number {
        left: 136px;
        top: 153px;
      }
    }
  }
  .main .content {
    width: auto;
  }
  #home, #quote {
    .intro {
      float: none;
      margin: 0 auto 35px;
      width: auto;
      .important-message {
        font-size: 24px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
        width: auto;
      }
    }
    .quote {
      float: none;
      margin: 0 auto;
      width: auto;
    }
    form {
      border-left: none;
    }
  }
  footer {
    ul li {
      float: none;
    }
    .content {
      width: auto;
      .column_1,
      .column_2,
      .column_3 {
        float: none;
        width: 100%;
      }
      .importance {
        text-align: center;
        width: 100%;
      }
      .importance .copyright {
        padding-left: 0;
      }
      .importance .copyright .abn_reserved {
        display: block;
      }
      .importance nav {
        float: none;
        padding-right: 0;
      }
      .importance nav li {
        display: inline-block;
      }
      .column_3 ul {
        text-align: center;
      }
      .column_3 ul li {
        display: inline-block;
      }
      .link_separator {
        margin-right: 5px;
      }
    }
  }
  #gallery {
    .left-content, .right-content {
      width: 100%;
    }
    .right-content {
      margin: 0;
      h2 {
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (min-width: $tablet_min) and (max-width: $tablet_max) and (orientation: portrait) {
  #header {
    margin-bottom: 20px;
    .main_menu {
      width: 100%;
      .right_menu {
        position: relative;
        right: 20px;
        .welcome {
          display: none;
        }
      }
    }
    .content {
      width: 100%;
    }
  }
  .main .content {
    width: auto;
  }
  #home, #quote {
    .intro {
      float: none;
      margin: 0 auto 35px;
      width: auto;
      .important-message {
        font-size: 24px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
        width: auto;
      }
    }
    .quote {
      float: none;
      margin: 0 auto;
      width: auto;
    }
    form {
      border-left: none;
    }
  }
  footer {
    ul li {
      float: none;
    }
    .content {
      width: auto;
      .column_1,
      .column_2,
      .column_3 {
        float: none;
        width: 100%;
      }
      .importance {
        text-align: center;
        width: 100%;
      }
      .importance .copyright {
        padding-left: 0;
      }
      .importance .copyright .abn_reserved {
        display: block;
      }
      .importance nav {
        float: none;
        padding-right: 0;
      }
      .importance nav li {
        display: inline-block;
      }
      .column_3 ul {
        text-align: center;
      }
      .column_3 ul li {
        display: inline-block;
      }
      .link_separator {
        margin-right: 5px;
      }
    }
  }
  #gallery {
    .left-content {
      width: 55%;
    }
    .right-content {
      width: 40%;
      h2 {
        margin-top: 30px;
      }
    }
  }
  #testimonial {
    section.section {
      width: auto;
    }
  }
}
@media only screen and (min-width: $tablet_min) and (max-width: $tablet_max) and (orientation: landscape) {
  #header {
    margin-bottom: 20px;
    .main_menu {
      width: 100%;
      .right_menu {
        position: relative;
        right: 20px;
      }
    }
    .content {
      width: 100%;
    }
  }
  .main .content {
    width: auto;
  }
  #home, #quote {
    .intro {
      float: none;
      margin: 0 auto 35px;
      width: auto;
      .important-message {
        font-size: 24px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
        width: auto;
      }
    }
    .quote {
      float: none;
      margin: 0 auto;
      width: auto;
    }
    form {
      border-left: none;
    }
  }
  #gallery {
    .left-content {
      width: 67%;
    }
    .right-content {
      width: 30%;
      h2 {
        margin-top: 30px;
      }
    }
  }
  #testimonial {
    section.section {
      width: auto;
    }
  }
}
