// colors
$whiteish: #FBFBFB;
$light_orange: #e4995f;
$dark_orange: #f38630;
$light_blue: #ced8f3;
$dark_blue: #afb9d4;
$light_green: #83be7e;
$dark_green: #5d9651;
$light_grey: #6e6d71;
$lighter_grey: #CCC;
$dark_grey: #333;

// border
$border_top_bottom: 1px dotted $lighter_grey;

// linear gradient
$gradient_top_bottom: top, $lighter_grey, $light_grey;
// $gradient_left_right: left, $dark_blue, $light_blue;
// $gradient_right_left: right, $dark_blue, $light_blue;

// box shadow
$shadow_bottom_center: 0 3px 5px $dark_orange;
// $shadow_bottom_right: 3px 3px 5px $light_blue;
// $shadow_top_center: 0 -3px 5px $dark_green;
$shadow_top_only: inset 0 10px 10px -10px $dark_grey;
$shadow_bottom_only: inset 0 -10px 10px -10px $dark_grey;

// media queries
$mobile_max: 568px;

// h2
h2.box_heading {
  background: $light_grey;
  box-shadow: $shadow_bottom_only;
  -webkit-box-shadow: $shadow_bottom_only;
  -moz-box-shadow: $shadow_bottom_only;
  color: $whiteish;
  padding: 10px;
}

// form
form {
  padding-left: 10px;
  padding-right: 10px;
  label {
    display: block;
    float: left;
    line-height: 23px;
    margin: 0 5px 0 0;
    width: 105px;
  }
  .field {
    width: 100%;
    label {
      font-weight: bold;
    }
    input, select, textarea {
      border: 1px solid $lighter_grey;
      float: left;
      margin-bottom: 10px;
      padding: 3px 5px;
      width: auto;
    }
  }
  .checkbox {
    height: 12px;
    line-height: 12px;
    margin: 10px 0;
    width: 100%;
    &.two_lines {
      margin: 10px 0 15px;
    }
    input {
      float: left;
      margin-top: 1px;
      width: auto;
    }
    .first_line {
      display: block;
      margin: 1px 0 0 130px;
      width: auto;
      &.second_line {
        line-height: 14px;
      }
    }
  }
}

.submit_button {
  background: $dark_orange;
  border: 1px solid $dark_orange;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: $whiteish;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  text-align: center;
  width: auto;
}
a.submit_button {
  text-decoration: none;
}

@media only screen and (max-width: $mobile_max) {
  #header {
    margin-bottom: 20px;
    .main_menu {
      .content {
        width: auto;
      }
      .home-link {
        float: none;
        margin: 0 auto;
      }
      .left_menu,
      .left_menu li {
        display: inline-block;
      }
      .left_menu li {
        margin-bottom: 3px;
      }
      .right_menu {
        display: none;
      }
    }
    .content {
      padding: 20px 10px 0;
      h1 {
        font-size: 36px;
        line-height: 34px;
        .singma, .bathroom {
          display: block;
        }
        .bathroom {
          margin-top: 5px;
        }
        .renovations {
          left: 19p8x;
          top: 79px;
        }
      }
      .licence-number {
        left: 134px;
        top: 117px;
      }
    }
  }
  .main .content {
    width: auto;
  }
  #home, #quote {
    .intro {
      float: none;
      margin: 0 auto;
      width: auto;
      .important-message {
        font-size: 24px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        text-align: center;
        width: auto;
      }
    }
    .quote {
      float: none;
      margin: 0 auto;
      width: auto;
    }
    form {
      border-left: none;
    }
  }
  footer {
    h2 {
      border-bottom: 1px dotted $lighter_grey;
      padding: 0 0 20px;
      width: auto;
    }
    a {
      color: $whiteish;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    ul li {
      float: none;
      line-height: 24px;
      margin-left: 5px;
      margin-right: 5px;
    }
    .content {
      padding: 30px 10px 40px;
      width: auto;
      .column_1,
      .column_2,
      .column_3 {
        float: none;
        margin-right: 0;
        width: auto;
      }
      .importance {
        text-align: center;
        width: auto;
      }
      .importance nav {
        float: none;
      }
      .importance nav li {
        display: inline-block;
      }
      .column_3 ul {
        text-align: center;
      }
      .column_3 ul li {
        display: inline-block;
      }
      .link_separator {
        margin-right: 3px;
      }
    }
  }
}
