// Place all the styles related to the terms_of_use controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// colors
$whiteish: #FBFBFB;
$light_blue: #ced8f3;
$dark_blue: #afb9d4;

// linear gradient
$gradient_left_right: left, $dark_blue, $light_blue;
$gradient_right_left: right, $dark_blue, $light_blue;

// box shadow
$shadow_bottom_right: 3px 3px 5px $light_blue;

#contact_us {
  h2 {
    background: $light_blue;
    background: -webkit-linear-gradient($gradient_left_right);
    background: -moz-linear-gradient($gradient_left_right);
    background: -ms-linear-gradient($gradient_left_right);
    background: -o-linear-gradient($gradient_left_right);
    box-shadow: $shadow_bottom_right;
    -webkit-box-shadow: $shadow_bottom_right;
    -moz-box-shadow: $shadow_bottom_right;
    color: $whiteish;
    padding: 10px;
  }
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
  form {
    padding-left: 10px;
    padding-right: 10px;
    label {
      display: block;
      float: left;
      line-height: 23px;
      margin: 0 5px 0 0;
      width: 105px;
    }
    .field {
      width: 100%;
      input {
        float: left;
        width: auto;
      }
    }
    .submit_button {
      background: $light_blue;
      background: -webkit-linear-gradient($gradient_left_right);
      background: -moz-linear-gradient($gradient_left_right);
      background: -ms-linear-gradient($gradient_left_right);
      background: -o-linear-gradient($gradient_left_right);
      border: 1px solid $light_blue;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      color: $whiteish;
      cursor: pointer;
      display: block;
      float: left;
      font-size: 14px;
      height: 24px;
      line-height: 24px;
      padding: 0 15px;
      text-align: center;
      width: auto;
      &:hover {
        background: $light_blue;
        background: -webkit-linear-gradient($gradient_right_left);
        background: -moz-linear-gradient($gradient_right_left);
        background: -ms-linear-gradient($gradient_right_left);
        background: -o-linear-gradient($gradient_right_left);
      }
    }
  }
}