@import "common.css.scss";

#header {
  margin-bottom: 25px;
  .content {
    padding: 30px 10px 0;
    position: relative;
    img {
      border: none;
      float: left;
      height: 109px;
      margin-right: 15px;
      width: 109px;
    }
    h1 {
      display: inline-block;
      float: left;
      font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
      font-weight: normal;
      line-height: 109px;
      .singma, .bathroom, .renovations {
        color: $light_grey;
      }
      a {
        color: $light_grey;
        text-decoration: none;
      }
    }
    .licence-number {
      color: $lighter_grey;
      font-size: 13px;
      left: 216px;
      position: absolute;
      top: 105px;
    }
  }
  .main_menu {
    background: url("/assets/backgrounds/header-footer-background.png") repeat scroll 0 0 $light_grey;
    box-shadow: $shadow_bottom_only;
    -webkit-box-shadow: $shadow_bottom_only;
    -moz-box-shadow: $shadow_bottom_only;
    color: $whiteish;
    a {
      color: $whiteish;
    }
    a:hover {
      color: $light_orange;
      text-decoration: none;
    }
    .content {
      padding: 5px 10px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .left_menu {
      float: left;
      .home-link {
        font-size: 20px;
        line-height: 15px;
      }
    }
    .right_menu {
      float: right;
    }
    .left_menu li,
    .right_menu li {
      float: left;
    }
    .username {
      font-weight: bold;
    }
  }
}
