@import "common.css.scss";

#header {
  margin-bottom: 40px;
  .content {
    padding: 30px 10px 0;
    position: relative;
    img {
      border: none;
      float: left;
      height: 109px;
      margin-right: 15px;
      width: 109px;
    }
    h1 {
      display: inline-block;
      float: left;
      font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
      font-weight: normal;
      line-height: 109px;
      .orange {
        color: $light_grey;
      }
      .blue {
        color: $light_grey;
      }
      .green {
        color: $light_grey;
      }
      a {
        color: $light_grey;
        text-decoration: none;
        // text-shadow: $light_grey 1px 1px 3px;
      }
    }
    .licence-number {
      color: #ccc;
      font-size: 13px;
      left: 216px;
      position: absolute;
      top: 105px;
    }
  }
  .main_menu {
    background: $light_grey;
    box-shadow: $shadow_bottom_only;
    -webkit-box-shadow: $shadow_bottom_only;
    -moz-box-shadow: $shadow_bottom_only;
    color: $whiteish;
    a {
      color: $whiteish;
    }
    a:hover {
      color: $dark_orange;
      text-decoration: none;
    }
    .content {
      padding: 5px 10px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .left_menu {
      float: left;
      .home-link {
        background: url(/assets/home.png);
        display: block;
        height: 15px;
        text-indent: -9999px;
        width: 17px;
      }
    }
    .right_menu {
      float: right;
    }
    .left_menu li,
    .right_menu li {
      float: left;
    }
    .username {
      font-weight: bold;
    }
  }
}
