// colors
$whiteish: #FBFBFB;
$light_grey: #666;
$lighter_grey: #CCC;
$dark_grey: #333;

// border
$border_top_bottom: 1px dotted $lighter_grey;

// linear gradient
$gradient_top_bottom: top, $dark_grey, $light_grey;
$gradient_left_right: left, $dark_grey, $light_grey;
$gradient_right_left: right, $dark_grey, $light_grey;

// box shadow
$shadow_top_center: 0 -3px 5px $dark_grey;
$shadow_bottom_center: 0 3px 5px $dark_grey;

// width
$column_width: 306px;

//--------//

#header {
  .content {
    padding: 30px 10px 30px;
    h1 {
      display: inline-block;
      float: left;
      a {
        color: $light_grey;
        text-shadow: $light_grey 1px 1px 3px;
      }
    }
    img {
      float: right;
      height: 60px;
      width: 500px;
    }
  }
  .main_menu {
    background: $light_grey;
    background: -webkit-linear-gradient($gradient_top_bottom);
    background: -moz-linear-gradient($gradient_top_bottom);
    background: -ms-linear-gradient($gradient_top_bottom);
    background: -o-linear-gradient($gradient_top_bottom);
    box-shadow: $shadow_bottom_center;
    -webkit-box-shadow: $shadow_bottom_center;
    -moz-box-shadow: $shadow_bottom_center;
    a {
      color: $lighter_grey;
    }
    .content {
      padding: 10px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      float: left;
    }
  }
  .sub_menu {
    border-top: $border_top_bottom;
    border-bottom: $border_top_bottom;
    .content {
      padding: 10px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .left_menu {
      float: left;
    }
    .right_menu {
      float: right;
    }
    .left_menu li,
    .right_menu li {
      float: left;
    }
    .left_menu a,
    .right_menu a {
      color: $light_grey;
    }
    .username {
      font-weight: bold;
    }
  }
}