@import "common.css.scss";

#header {
  margin-bottom: 40px;
  .content {
    padding: 30px 10px 0;
    img {
      border: none;
      float: left;
      height: 109px;
      margin-right: 15px;
      width: 109px;
    }
    h1 {
      display: inline-block;
      float: left;
      line-height: 109px;
      .orange {
        color: $dark_orange;
      }
      .blue {
        color: $dark_blue;
      }
      .green {
        color: $dark_green;
      }
      a {
        color: $light_grey;
        text-decoration: none;
        text-shadow: $light_grey 1px 1px 3px;
      }
    }
  }
  .main_menu {
    background: $dark_orange;
    box-shadow: $shadow_bottom_center;
    -webkit-box-shadow: $shadow_bottom_center;
    -moz-box-shadow: $shadow_bottom_center;
    color: $whiteish;
    a {
      color: $whiteish;
    }
    .content {
      padding: 5px 10px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .left_menu {
      float: left;
    }
    .right_menu {
      float: right;
    }
    .left_menu li,
    .right_menu li {
      float: left;
    }
    .username {
      font-weight: bold;
    }
  }
}