@import 'common.css.scss';

#location {
  h2 {
    background: $light_grey;
    background: -webkit-linear-gradient($gradient_top_bottom);
    background: -moz-linear-gradient($gradient_top_bottom);
    background: -ms-linear-gradient($gradient_top_bottom);
    background: -o-linear-gradient($gradient_top_bottom);
    // box-shadow: $shadow_bottom_right;
    // -webkit-box-shadow: $shadow_bottom_right;
    // -moz-box-shadow: $shadow_bottom_right;
    color: $whiteish;
    padding: 10px;
  }
  p {
    padding-left: 10px;
  }
}
