@import 'common.css.scss';

#home, #quote {
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro {
    float: left;
    margin-right: 17px;
    width: 474px;
    .important-message {
      color: $light_grey;
      font-size: 24px;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;
      text-align: center;
      width: auto;
    }
  }
  .quote {
    float: left;
    width: 470px;
  }
  form {
    border-left: 1px dashed $lighter_grey;
  }
  table {
    padding-left: 10px;
    padding-right: 10px;
    th, td {
      padding-left: 5px;
      padding-right: 5px;
      width: 10%;
    }
    th {
      border-bottom: 1px solid #ccc;
    }
    td {
      border-bottom: 1px dashed #ccc;
    }
  }
}
