@import 'common.css.scss';

#home {
  h2 {
    background: $light_blue;
    background: -webkit-linear-gradient($gradient_left_right);
    background: -moz-linear-gradient($gradient_left_right);
    background: -ms-linear-gradient($gradient_left_right);
    background: -o-linear-gradient($gradient_left_right);
    box-shadow: $shadow_bottom_right;
    -webkit-box-shadow: $shadow_bottom_right;
    -moz-box-shadow: $shadow_bottom_right;
    color: $whiteish;
    padding: 10px;
  }
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro {
    float: left;
    margin-right: 15px;
    width: 474px;
  }
  .quote {
    float: left;
    width: 470px;
  }
  form {
    border-left: 1px dotted $lighter_grey;
  }
}