@import 'common.css.scss';

// colors
$whiteish: #FBFBFB;
$light_blue: #ced8f3;
$dark_blue: #afb9d4;


// linear gradient
$gradient_left_right: left, $dark_blue, $light_blue;

// box shadow
$shadow_bottom_right: 3px 3px 5px $light_blue;

#site_map {
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
  a {
    color: #666;
  }
  ul {
    line-height: 24px;
    margin: 0 0 0 30px;
    padding: 0;
  }
}
