<div id='header'>
  <%= render 'common/main_menu' %>

  <div class='content clearfix'>

    <%= link_to image_tag('logo-singma_bathroom_renovations.png', :alt => 'Hornsby Bathroom'), root_path, :title => 'Hornsby Bathroom' %>

    <h1><%= link_to truncate_html("<span class='orange'>Singma</span> <span class='blue'>Bathroom</span> <span class='green'>Renovations</span>"), root_path %></h1>
    <div class='licence-number'>Licence 244932C</div>

  </div>
</div>