<div id='header'>
  <%= render 'common/main_menu' %>

  <div class='content clearfix'>

    <%= link_to image_tag('logo-singma_bathroom_renovations.png', :alt => 'Singma Bathroom Renovations'), root_path, :title => 'Singma Bathroom Renovations' %>

    <h1><%= link_to truncate_html("<span class='singma'>Singma</span> <span class='bathroom'>Bathroom</span> <span class='renovations'>Renovations</span>"), root_path %></h1>
    <div class='licence-number'>Licence 244932C</div>

  </div>
</div>
