<div class='main_menu'>
  <div class='content'>
    <nav>
      <ul class='clearfix'>
        <li><%= link_to 'Home', root_path %>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
        <li><%= link_to 'Site Map', site_map_index_path %></li>
      </ul>
    </nav>
  </div>
</div>