<% recent_testimonial.each do |testimonial| -%>
  <li><%= link_to truncate_html("<span class='quote'>&#8220;</span>#{testimonial.comment}", :omission => " ... (continued)<span class='quote'>&#8221;</span>"), testimonials_path %></li>
<% end -%>